RULE EXTERNAL LIST 'populatedb' EXEC ''

RULE 'findFilesAndDirs' LIST 'populatedb'
        DIRECTORIES_PLUS
        WEIGHT(0)
        SHOW(
           VARCHAR(FILE_SIZE) || ' ' ||
           VARCHAR(MODE) || ' ' ||
           VARCHAR(KB_ALLOCATED))
